sum of all number 1 to 100 which are divisible by 4

In [3]:
counter=0
for i in range(1,100):
    if(i%4==0):
        counter+=i
    print(counter)

0
0
0
4
4
4
4
12
12
12
12
24
24
24
24
40
40
40
40
60
60
60
60
84
84
84
84
112
112
112
112
144
144
144
144
180
180
180
180
220
220
220
220
264
264
264
264
312
312
312
312
364
364
364
364
420
420
420
420
480
480
480
480
544
544
544
544
612
612
612
612
684
684
684
684
760
760
760
760
840
840
840
840
924
924
924
924
1012
1012
1012
1012
1104
1104
1104
1104
1200
1200
1200
1200

For given range of (1,100) number is divisible by 2 and 3 but not by 5

In [7]:
for i in range(1,100):
    if(i%2==0 and i%3==0 and i%5!=0):
        print(i)

6
12
18
24
36
42
48
54
66
72
78
84
96

Add all even number from 1 to 100

In [8]:
add=0
for i in range (1,100):
    if (i%2==0):
        add=+i
        print(add)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

# in 1 to 100 print a number which is divisible by 3 not by 2

In [11]:
for i in range (1,100):
    if(i%3==0 and i%2!=0):
        print(i)

3
9
15
21
27
33
39
45
51
57
63
69
75
81
87
93
99

# Factorial of number

In [13]:
fact=1
for i in range(1,6):
    fact=fact*i
print(fact)

120

# write a code to check the number is multiple of 5 or not

In [15]:

n=int(input("enter a given number"))
if n%5==0:
    print("number is divisible by 5")
else:
    print("number is not divisible by 5")

enter a given number23
number is not divisible by 5

# take value from user in between 18-100

In [17]:
user=int(input("enter the value from user:"))
if (user>=18 and user<=100):
     print("Not allow this number")
elif(user<18 and user>100):
    print("Allow this number")
else:
    print("None")

enter the value from user:101
None

# print first latterof name and surname

In [21]:
x='Mayuri Adhav'
print([i[0] for i in x.split(" ")])

['M', 'A']

# for a given function find out its value in the range(-3,3)

In [22]:
# function=1+x+x^2
for i in range(-3,3):
    f=1+i+i^2
    print(f)

-7
-1
-3
3
1
7